@page "/{Id:int?}"

@using SGE.Aplicacion
@inject NavigationManager Navigation
@rendermode InteractiveServer
@inject ManejarLogin manejarLogin
@inject CasoDeUsoUsuarioObtenerPorId casoDeUsoObtenerUsuario
@inject CasoDeUsoExpedienteConsultaTodos casoDeUsoExpedienteConsultaTodos
@inject IServicioAutorizacion ServicioAutorizacion
<PageTitle>Inicio</PageTitle>
@if( Id==null ){
    <Inicio/>  
}
else{
@if(Id==1){
        <button class="btn btn-primary" @onclick="mostrarUsuarios">Mostrar y modificar usuarios </button>
    }

<div class="container">
        <div class="row">
            <div>
                <h1>Bienvenido @user.Nombre @user.Apellido </h1>
                <div class="alinear">
                    <button class="btn btn-primary" type="submit" @onclick="modificarPerfil"> Modificar Perfil </button>
                </div>
                <div class="row">
                    <div >
                        <div class="card">
                            <div class="card-header">
                                <h3>Expedientes</h3>
                            </div>
                            <div class="card-body">
                                <button class="btn btn-primary" >Crear Expediente</button>
                                <div class="row">
                                    <div >
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Caratula</th>
                                                    <th>Estado</th>
                                                    <th>Fecha de creacion</th>
                                                    <th>Usuario de última modificación</th>
                                                </tr>
                                                                                       
                                            </thead>
                                            <tbody>
                                               @foreach (Expediente expediente in expedientes)
                                               
                                                    {   
                                            
                                                    <tr>
                                                        <td>@expediente.Caratula</td>
                                                        <td>@expediente.Estado</td> 
                                                        <td>@expediente.FechaCreacion</td>
                                                        <td class="td">@expediente.UsuarioUltModificacion</td>
                                                        @if(ServicioAutorizacion.PoseeElPermiso(user.Id,Permiso.ExpedienteBaja)){
                                                            <td> <button class="btn btn-danger" type="submit" @onclick="() => Eliminar(expediente.Id)">Eliminar </button> </td>
                                                           }
                                                        else 
                                                        {
                                                            <td>  
                                                                <div class="alert alert-danger" role="alert">
                                                                    <strong>No posee permiso para eliminar expedientes</strong> 
                                                                </div> 
                                                            </td>
                                                        }
                                                        @if (ServicioAutorizacion.PoseeElPermiso(user.Id,Permiso.ExpedienteModificacion)){
                                                        <td> <button class="btn btn-primary" @onclick= "() => Modificar(expediente.Id)"> Modificar </button> </td>
                                                        }
                                                        else
                                                        {
                                                             <td>  
                                                                <div class="alert alert-danger" role="alert">
                                                                    <strong>No posee permiso para modificar expedientes</strong> 
                                                                </div> 
                                                            </td>
                                                        }
                                                           @if(ServicioAutorizacion.PoseeElPermiso(user.Id,Permiso.TramiteAlta)){
                                                            <td> <button class="btn btn-secondary" type="submit" @onclick="() => agregarTramite(expediente.Id)">Agregar Tramite </button> </td>
                                                           } 
                                                        else 
                                                        {
                                                            <td>  
                                                                <div class="alert alert-danger" role="alert">
                                                                    <strong>No posee permiso para agregar tramite</strong> 
                                                                </div> 
                                                            </td>
                                                        }
                                                         
                                                        @if(expediente.Tramites != null && expediente.Tramites.Count > 0){
                                                            <td> <button class="btn btn-primary" @onclick="() => AlternarTramites(expediente.Tramites)" > Mostrar/ocultar tramites </button> </td>
                                                        }else {
                                                                        <td> <button  class="btn btn-primary" disabled> No tiene tramites </button> </td>

                                                        }
                                                    
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class=container> 
    @foreach (List<Tramite> tramites in listaDeListas)
    {   
            <div class=margin >Expediente @tramites[0].ExpedienteId</div>
            <table class="table">
            <thead>
                    <tr>
                          <th>Contenido</th>
                             <th>Etiqueta</th>
                            <th>Fecha de creacion</th>
                           <th>fecha ultima modificacion</th>
                     </tr>
                                                                                       
            </thead>
     
        @foreach(Tramite tramite in tramites)
        {
           
            <tbody>
                 <tr>
                    <td>@tramite.Contenido</td>
                    <td>@tramite.Etiqueta</td>
                    <td>@tramite.FechaCreacion</td>
                    <td>@tramite.UsuarioUltModificacion</td>
                    @if(ServicioAutorizacion.PoseeElPermiso(user.Id,Permiso.TramiteBaja)){
                    <td> <button class="btn btn-danger" @onclick="() => EliminarTramite(tramite.Id)">Eliminar tramite </button> </td>}
                      else
                        {
                                <td>  
                                <div class="alert alert-danger" role="alert">
                                    <strong>No posee permiso para eliminar tramites</strong> 
                                </div> 
                            </td>
                        }
                    @if (ServicioAutorizacion.PoseeElPermiso(user.Id,Permiso.TramiteModificacion)){
                    <td> <button class="btn btn-warning" @onclick="() => ModificarTramite(tramite.Id)">Modificar tramite </button> </td>
                        }
                    else
                        {
                            <td>  
                                <div class="alert alert-danger" role="alert">
                                    <strong>No posee permiso para modificar tramites</strong> 
                                </div> 
                            </td>
                        }
                </tr>
            </tbody>
        }
    </table>   
     
}
</div>
}


@code {
    

    #nullable disable
    private Usuario user;
    private List<Expediente> expedientes;
    #nullable enable

    private List<List<Tramite>> listaDeListas = new List<List<Tramite>>();
    [Parameter]
    public int? Id { get; set; }

    private void Loggear(){
        Navigation.NavigateTo("/login");
    }
    private void Register(){
        Navigation.NavigateTo("/register");
    }
    private void Eliminar(int idexp){
        Navigation.NavigateTo($"/expediente/eliminar/{Id}/{idexp}");
    }

    private void Modificar(int idexp){
        Navigation.NavigateTo($"/expediente/modificar/{Id}/{idexp}");
    }
       private void mostrarUsuarios(){
        Navigation.NavigateTo($"/usuarios/{Id}");
    }



    protected override void OnInitialized(){
        
        try
        {
            if (Id != null)
            {
                user = casoDeUsoObtenerUsuario.Ejecutar(Id.Value);
                expedientes = casoDeUsoExpedienteConsultaTodos.Ejecutar();
            }
        }
            catch {
            }   


    }


    private void AlternarTramites(List<Tramite> tramites)
    {
        if(!listaDeListas.Contains(tramites)){
            listaDeListas.Add(tramites);
        }
        else{
            listaDeListas.Remove(tramites);
        }
    }

    private void EliminarTramite(int idTramite){
        Navigation.NavigateTo($"/tramite/eliminar/{Id}/{idTramite}");
    }
    private void ModificarTramite(int idTramite){
        Navigation.NavigateTo($"/tramite/modificar/{Id}/{idTramite}");
    }
    private void agregarTramite(int idExpediente){
        Navigation.NavigateTo($"/tramite/agregar/{Id}/{idExpediente}");
    }
    private void modificarPerfil(){
        Navigation.NavigateTo($"/usuarios/modificar/{Id}/{Id}");
    }
  
   
}

<style>
    td, th{
        text-align: center;
    }
    
    .flex {
   display: flex;
   align-items: center;
    }
    .alinear{
        display: flex;
        justify-content:;
    }


</style>