@rendermode InteractiveServer
@inject IServicioAutorizacion ServicioAutorizacion
@inject NavigationManager Navigation

 <div class="container">
        <div class="row">
            <div>
                <div>
                    <h1>Bienvenido @user.Nombre @user.Apellido </h1>
                </div>
                <div class="row">
                    <div >
                        <div class="card">
                            <div class="card-header">
                                <h3>Expedientes</h3>
                            </div>
                            <div class="card-body">
                                <button class="btn btn-primary" >Crear Expediente</button>
                                <div class="row">
                                    <div >
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Caratula</th>
                                                    <th>Estado</th>
                                                    <th>Fecha de creacion</th>
                                                    <th>Usuario de última modificación</th>
                                                </tr>
                                                                                       
                                            </thead>
                                            <tbody>
                                               @foreach (Expediente expediente in expedientes)
                                               
                                                    {   
                                            
                                                    <tr>
                                                        <td>@expediente.Caratula</td>
                                                        <td>@expediente.Estado</td> 
                                                        <td>@expediente.FechaCreacion</td>
                                                        <td class="td">@expediente.UsuarioUltModificacion</td>
                                                        @if(ServicioAutorizacion.PoseeElPermiso(user.Id,Permiso.ExpedienteBaja)){
                                                            <td> <button class="btn btn-danger" type="submit" @onclick="() => Eliminar(expediente.Id)">Eliminar </button> </td>
                                                           }
                                                        else 
                                                        {
                                                            <td>  
                                                                <div class="alert alert-danger" role="alert">
                                                                    <strong>No posee permiso para eliminar expedientes</strong> 
                                                                </div> 
                                                            </td>
                                                        }
                                                        @if (ServicioAutorizacion.PoseeElPermiso(user.Id,Permiso.ExpedienteModificacion)){
                                                        <td> <button class="btn btn-primary" @onclick= "() => Modificar(expediente.Id)"> Modificar </button> </td>
                                                        }
                                                        else
                                                        {
                                                             <td>  
                                                                <div class="alert alert-danger" role="alert">
                                                                    <strong>No posee permiso para modificar expedientes</strong> 
                                                                </div> 
                                                            </td>
                                                        }
                                                           @if(ServicioAutorizacion.PoseeElPermiso(user.Id,Permiso.TramiteAlta)){
                                                            <td> <button class="btn btn-secondary" type="submit" @onclick="() => agregarTramite(expediente.Id)">Agregar Tramite </button> </td>
                                                           } 
                                                        else 
                                                        {
                                                            <td>  
                                                                <div class="alert alert-danger" role="alert">
                                                                    <strong>No posee permiso para agregar tramite</strong> 
                                                                </div> 
                                                            </td>
                                                        }
                                                         
                                                        @if(expediente.Tramites != null && expediente.Tramites.Count > 0){
                                                            <td> <button class="btn btn-primary" @onclick="() => AlternarTramites(expediente.Tramites)" > Mostrar/ocultar tramites </button> </td>
                                                        }
                                                    
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

@code{


[Parameter]
#nullable disable
public Usuario user { get; set; }
[Parameter]
public List<Expediente> expedientes { get; set; }
#nullable enable
private List<List<Tramite>> listaDeListas = new List<List<Tramite>>();

private void AlternarTramites(List<Tramite> tramites)
    {
        if(!listaDeListas.Contains(tramites)){
            listaDeListas.Add(tramites);
        }
        else{
            listaDeListas.Remove(tramites);
        }
        StateHasChanged();
    }

    private void EliminarTramite(int idTramite){
        Navigation.NavigateTo($"/tramite/eliminar/{user.Id}/{idTramite}");
    }
    private void ModificarTramite(int idTramite){
        Navigation.NavigateTo($"/tramite/modificar/{user.Id}/{idTramite}");
    }
    private void agregarTramite(int idExpediente){
        Navigation.NavigateTo($"/tramite/agregar/{user.Id}/{idExpediente}");
    }

    private void Eliminar(int idexp){
        Navigation.NavigateTo($"/expediente/eliminar/{user.Id}/{idexp}");
    }

    private void Modificar(int idexp){
        Navigation.NavigateTo($"/expediente/modificar/{user.Id}/{idexp}");
    }
}